
main .bienvenida{
  margin-top: 8rem 0;
  display: grid;
  grid-template-columns: 55rem 60rem;
  justify-content: center;
  gap: 9rem;
  margin: 5rem 0;
  color: #616262;
}
main .bienvenida figure{
  margin-top: 2.3rem;
  width: 55rem;
  height: 55rem;
}
main .bienvenida figure img{
  width: 100%;
}
main .bienvenida .texto_bienvenida h2{
font-size: 4.9rem;
color: #1f9aab;
margin: 1rem 0;
}
main .bienvenida .texto_bienvenida h3{
  font-size: 3rem;
  color: #1f9aab;
  margin: 1rem 0;
}
main .bienvenida .texto_bienvenida p{
  font-size: 2rem;
}
main .ventajas{
  background-color: #1f9aab;
  margin-bottom: 3.5rem;
}
main .ventajas h2{
  margin-bottom: -3px;
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 3.5rem ;
}
main .ventajas .facil_reserva{
  display: grid;
  grid-template-columns: repeat(4,27rem);
  justify-content: center;
  gap: 5rem;
 
}
main .ventajas .facil_reserva div{
  text-align: center;
  color: white;
  margin-bottom: 4rem;
}
main .ventajas .facil_reserva div i{
  font-size: 6rem;
}
main .ventajas .facil_reserva div h3{
  font-size: 3rem;
}
main .ventajas .facil_reserva div p{
  font-size: 2rem;
}
main .servicios{
  text-align: center;
}
main .servicios .contenedor_servicios{
  display: grid;
  grid-template-columns: repeat(4, 27rem);
  margin: auto;
  justify-content: center;
  gap: 4rem;
}
main .servicios .contenedor_servicios .servicio figure{
  width: 27rem;
  height: 27rem;
  margin: 0;
}
main .servicios .contenedor_servicios .servicio figure img{
  width: 100%;
  height: 100%;
}
main .servicios h2{
  font-size: 5rem;
  color: #1f9aab;
}
main .servicios h3{
  color: #1f9aab;
  font-size: 3rem;
}
main .pre_footer{
  background-color: #1f9aab;
}
main .pre_footer .contenedor_pre_footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

main .text_pre_footer h3{
  font-size: 5rem;
  color: white; 
  padding: 0rem 0 0 0 0;
  margin-bottom: 7px;
}
main .text_pre_footer h4{
  font-size: 3rem;
  font-style: italic;
  color: white;
  font-weight: 400;
  margin: 4rem 0;
  margin-top: 0rem;
}

main .contenedor_pre_footer button{
  width: 20rem;
  height: 5rem;
  background-color: white;
  border: none;
  font-size: 2rem;
  color: #0095e5;
  font-family:'Alegreya Sans' ;
  font-weight: bolder;
  margin-left: 5rem;
}
