#slideshow-principal{
  position: relative;
  overflow: hidden;
}
/* #progress_bar_container{
  position: absolute;
  height: 10px;
  background-color: rgba(0, 0, 0, 2);
  width: 100%;
  top: o;
  z-index: 1000;

}
#progress_bar{
  height: 100%;
  background: rgba(0, 149, 229);
  border-radius: 0 3px 3px 0;
  transition: width 0.8s;
} */
#slideshow{
  position: relative;
  z-index: 998;
  height: 400px;
}
.hero{
  position: relative;
}
 .hero img{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
object-fit: cover;
}
.hero #img2{
/*   left: 100%;
 */  opacity: 0;
}

.active{
/*   left: 0!important;
 */  transition: all 1s;
  opacity: 1!important;
}

#indicadores{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 999;
}
.circles{
  border: white 2px solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 5px 0 5px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  outline: 0;
}
.resaltado{
  background-color: #1f9aab;
  transition: background-color .8s;
}


main .bienvenida{
  margin-top: 8rem 0;
  display: grid;
  grid-template-columns: 55rem 60rem;
  justify-content: center;
  gap: 9rem;
  margin: 5rem 0;
  color: #616262;
  text-align: justify;
}
main .bienvenida figure{
  margin-top: 2.3rem;
  width: 55rem;
  height: 55rem;
}
main .bienvenida figure img{
  width: 100%;
}
main .bienvenida .texto_bienvenida h2{
font-size: 4.9rem;
color: #1f9aab;
margin: 1rem 0;

}
main .bienvenida .texto_bienvenida h3{
  font-size: 3rem;
  color: #1f9aab;
  margin: 1rem 0;
}
main .bienvenida .texto_bienvenida p{
  font-size: 2rem;
}
main .ventajas{
  background-color: #1f9aab;
  margin-bottom: 3.5rem;
}
main .ventajas h2{
  margin-bottom: -3px;
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 3.5rem ;
}
main .ventajas p{
  margin-top: 0;
  margin-bottom: 0;
}
main .ventajas .facil_reserva{
  display: grid;
  grid-template-columns: repeat(4,27rem);
  justify-content: center;
  gap: 5rem;
 
}
main .ventajas .facil_reserva div{
  text-align: center;
  color: white;
  margin-bottom: 4rem;
}
main .ventajas .facil_reserva div i{
  font-size: 6rem;
}
main .ventajas .facil_reserva div h3{
  font-size: 3rem;
}
main .ventajas .facil_reserva div p{
  font-size: 2rem;
}
main .servicios{
  text-align: center;
}
main .servicios .contenedor_servicios{
  display: grid;
  grid-template-columns: repeat(4, 27rem);
  margin: auto;
  justify-content: center;
  gap: 4rem;
}
main .servicios .contenedor_servicios .servicio figure{
  width: 27rem;
  height: 27rem;
  margin: 0;
}
main .servicios .contenedor_servicios .servicio figure img{
  width: 100%;
  height: 100%;
}
main .servicios h2{
  font-size: 5rem;
  color: #1f9aab;
}
main .servicios h3{
  color: #1f9aab;
  font-size: 3rem;
}

main .carousel{
  margin: 4rem;
  text-align: center;
}
.glider-slide{
  width: fit-content!important;
  padding-right: 2rem;
  padding-left: 2rem;
}
main .carousel h2{
  font-size: 5rem;
  color: #1f9aab;
}
main .carousel .carousel_contenedor{
  position: relative;
  max-width: 1200px;
  margin:auto;
}
main .carousel .carousel_anterior,.carousel_siguiente{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 15%);
  cursor: pointer;
  font-size: 38px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%;
  outline: none;
}
.carousel_anterior{
  left: -40px;
}
.carousel_siguiente{
  right: -32px;
}
main .carousel .carousel_contenedor h3{
  color: #1f9aab;
  font-size: 2.5rem;

}

main .pre_footer{
  background-color: #1f9aab;
}
main .pre_footer .contenedor_pre_footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

main .text_pre_footer h3{
  font-size: 5rem;
  color: white; 
  padding: 0rem 0 0 0 0;
  margin-bottom: 7px;
}
main .text_pre_footer h4{
  font-size: 3rem;
  font-style: italic;
  color: white;
  font-weight: 400;
  margin: 4rem 0;
  margin-top: 0rem;
}

main .contenedor_pre_footer button{
  width: 20rem;
  height: 5rem;
  background-color: white;
  border: none;
  font-size: 2rem;
  color: #0095e5;
  font-family:'Alegreya Sans' ;
  font-weight: bolder;
  margin-left: 5rem;
}



@media screen and (max-width:1285px){
main .bienvenida{
  grid-template-columns: 92rem;
}
main .bienvenida figure{
  display: none;
}

main .ventajas .facil_reserva{
  grid-template-columns: repeat(2,27rem);
  
}

main .pre_footer .contenedor_pre_footer{
  max-width: 85%;
}

main .text_pre_footer h3{
  font-size: 4rem;
}
main .text_pre_footer h4{
  font-size: 2rem;
}

}
@media screen and (max-width: 933px){
  main .bienvenida{
    grid-template-columns: 60rem;
    gap: 4rem;
    }
}
@media screen and (max-width:800px){
  main .bienvenida figure{
    display: block ;
  }
}



@media screen and (max-width:500px){
  main .bienvenida{
    grid-template-columns: 31rem;
    gap: 2.5rem;
    margin-top: 3rem;
  }
  main .bienvenida figure{
    width: 100%;
    height: auto;
    margin: 0;
  }
  main .bienvenida .texto_bienvenida h2{
    font-size: 2.4rem;
  }
  main .bienvenida .texto_bienvenida h3{
    font-size: 2rem;
  }
  main .bienvenida .texto_bienvenida p{
    font-size: 1.6rem;
    word-spacing: -1px;
  }
  main .ventajas h2{
    font-size: 3em;
  }
  main .ventajas .facil_reserva {
    grid-template-columns: 27rem;
    gap: 0;
  }
  main .ventajas .facil_reserva div h3{
    font-size: 2.4rem;
  }
  main .ventajs .facil_reserva div p{
    font-size: 1.8rem;
  }

  main .pre_footer .contenedor_pre_footer{
    flex-direction: column;
    text-align: center;
  }
  main .pre_footer .contenedor_pre_footer h3{
  font-size: 3em;
  }
  main .pre_footer .contenedor_pre_footer h4{
    font-size: 1.8rem;
  }

  main .pre_footer .contenedor_pre_footer button{
    margin-left: 0;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    
  }

  

}





